/* Import Montserrat y asegurar que se use */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
    /* Table */
    --child-row: #d4d4d4;
    --row-hover: #9f99bb;
    --row-color: #ebebeb;
    --row-hover: #c4cfd4;
    --table-header-footer: #ffffff;
    --table-header-footer2: #8771aa;
    --table-text: #000;

    /* Backgrounds */
    --background-color: #ffffff;
    --bg-main: #eaeaea;

    /* Borders */
    --border-color: #cccccc;
    --avatar-border: #e6e6e6;
    --border-color: #ddd;

    /* Sections */
    --section-color: #f7f7f7;
    --section-color-disabled: #dfdfdf;
    --data-section: #ffffff;

    /* Modals */
    --modal-title-color: #563b96;

    /* Buttons */
    --buttons: #9b81ca;
    --buttons-hover: #7764aa;
    --button-text-color: black;
    --button-text-color2: white;
    --button-view-more: #49297c;
    --button-registrar: #2e2e2e;
    --button-lista: #c2a9cc;
    --button-lista-hover: rgb(152, 125, 163);
    --button-cancelar: #e97575;
    --button-success: #88c589;
    --button-success-hover: #6b9c69;

    /* Text */
    --primary-color: #643a8b;
    --selected-color: #e9e9e9;
    --text-color: #333;
    --option-selected-text-color: #280072;
    --text-headers: #2f313e;
    --legend: #310072;
    --time: #280072;
    --header-text: #575757;

    /* Header */
    --header-color: #ffffff;
}

[data-toolpad-color-scheme="dark"] {
    /* Table */
    --child-row: #333842;
    --row-hover: #444b56;
    --row-color: #6f71db67;
    --row-hover: #504226;
    --table-header-footer: #2e2e2e57;
    --table-header-footer2: #38297c;
    --table-text: #fff;

    /* Backgrounds */
    --background-color: #242424;
    --bg-main: #000000;

    /* Borders */
    --border-color: #555;
    --avatar-border: #c5e0ff;
    --border-color: #ddd;

    /* Sections */
    --section-color: #2e2e2e57;
    --section-color-disabled: #6e6e6e;
    --data-section: #2e2e2e57;

    /* Modals */
    --modal-title-color: #3b297c;

    /* Buttons */
    --buttons: #8c81ca;
    --buttons-hover: #8e81ca;
    --button-text-color: #ffff;
    --button-text-color2: black;
    --button-view-more: #473469;
    --button-registrar: #000000;
    --button-lista: #9162a3;

    /* Text */
    --primary-color: #463a8b;
    --selected-color: #363636;
    --text-color: #333;
    --option-selected-text-color: #967bd6;
    --text-headers: #ffffff;
    --legend: #350072;
    --time: #310072;
    --header-text: #ffffff;
    
    /* Header */
    --header-color: #0e0e0e;
}

.MuiToolbar-root,
.MuiTypography-h6 {
    /* Color de fondo de la barra de herramientas */
    color: var(--header-text) !important;
    /* Color del texto de la barra de herramientas */
    font-family: "Montserrat", sans-serif !important;
}

.MuiToolbar-gutters {
    background-color: var(--header-color) !important;
    /* Color de fondo de la barra de herramientas */
    color: white !important;
    /* Color del texto de la barra de herramientas */
    font-family: "Montserrat", sans-serif !important;
}

.MuiToolbar-regular {
    background-color: var(--header-color) !important;
    /* Color de fondo de la barra de herramientas */
    color: white !important;
    /* Color del texto de la barra de herramientas */
    font-family: "Montserrat", sans-serif !important;
}

.MuiTablePagination-toolbar {
    background-color: var(--table-header-footer2) !important;
    color: rgb(0, 0, 0) !important;
}

.MuiIconButton-root {
    color: var(--buttons) !important;
    /* Color de los iconos en la barra de herramientas */
}

.MuiListItemText-primary{
    font-family: "Montserrat", sans-serif !important;
}

.MuiButton-root {
    color: var(--button-text-color) !important;
    /* Color de fondo de la barra de herramientas */
    font-family: "Montserrat", sans-serif !important;
}

.MuiListItemButton-root.Mui-selected {
    background-color: var(--selected-color) !important;
    /* Color de fondo del elemento seleccionado */
    color: white !important;
    /* Color del texto del elemento seleccionado */
}

.MuiListItemButton-root.Mui-selected svg {
    color: var(--primary-color) !important;
    /* Color del texto del elemento seleccionado */
}

.MuiButtonBase-root-MuiButton-root {
    color: var(--primary-color) !important;
    font-family: "Montserrat", sans-serif !important;
}

.MuiListItemButton-root.Mui-selected .MuiTypography-root {
    color: var(--option-selected-text-color) !important;
    font-family: "Montserrat", sans-serif !important;
}
.MuiTypography-root,
MuiTypography-body1,
MuiListItemText-primary {
    font-family: "Montserrat", sans-serif !important;
}

.MuiTablePagination-displayedRows {
    color: var(--legend) !important;
}

.MuiTablePaginationActions-root {
    .MuiSvgIcon-root {
        color: var(--legend) !important;
    }
}

.MuiTypography-root, MuiTypography-body1, MuiListItemText-primary {
    font-family: "Montserrat", sans-serif !important;
}

.MuiBox-root .css-7jy391 {
    background: var(--bg-main) !important;
    /* Fondo del pie de página */
    margin: 0;
}

.MuiBox-root .css-ott4bn {
    background: var(--bg-main) !important;
    /* Fondo del pie de página */
    margin: 0;
}

/* Ajustes del campo de búsqueda */
.MuiTextField-root {
    font-size: 14px;
    /* Ajusta el tamaño del texto en la barra de búsqueda */
    line-height: 1.5;

    /* Aumenta la legibilidad del texto */
    input {
        font-size: 14px;
        /* Asegura que el tamaño del texto dentro del campo sea correcto */
    }
}